<main id="about">
  <h1 class="lg-heading">About <span class="text-secondary">Me</span></h1>
  <h2 class="sm-heading">Let me tell you a few things...</h2>

  <section class="about-info">
    <img
      class="bio-image"
      src="./images/headshotsdg.jpg"
      alt="Curt Grogan Bio Picture"
    />
    <div class="bio">
      <h3 class="text-secondary">BIO</h3>
      <p>
        I am a reborn software developer following my passion by returning to
        the field. After completing the immersive Full Stack Web Developer
        program at the prestigious Suncoast Developers Guild, I have joined the
        FDM Group as a Software Engineer Consultant. I love learning new skills
        & technologies and collaborating with colleagues to expand my
        understanding of the technology and people with whom I work.
      </p>
      <p>
        The quote that brought me back to the fold is by Howard Thurman,
        <span class="quote"
          >“Don’t ask what the world needs. Ask what makes you come alive, and
          go do it. Because what the world needs is people who have come
          alive.”</span
        >
      </p>
    </div>
    <app-experience-card></app-experience-card>
    <div class="job job-2">
      <h3>FDM Group</h3>
      <h6>Software Engineer</h6>
      <p>
        I am a software engineer with a range of responsibilities, including:
        writing, developing, testing, and reviewing code. After successfully
        completing FDM's industry recognized training I have worked on multiple
        projects. Our projects utilize Agile methodologies and I serve as a
        front-end & back-end developer, and as a Scrum Master at times.
      </p>

      <ul>
        <li class="tech-stack">
          Languages:
          <span class="items">
            Java, TypeScript, JavaScript, HTML5, CSS3, SQL, SOQL, and Apex</span
          >
        </li>
        <li class="tech-stack">
          Frameworks, Libraries, etc.:
          <span class="items"
            >Angular, Spring Framework, Thymeleaf, and JUnit</span
          >
        </li>
        <li class="tech-stack">
          Tools:
          <span class="items">
            Eclipse, Maven, Tomcat, VS Code, Oracle SQL Developer, GIT, GitLab,
            and Salesforce
          </span>
        </li>
      </ul>
    </div>
    <div class="job job-3">
      <h3>Greenway Health</h3>
      <h6>Workforce Management Analyst</h6>
      <p>
        Consistently a top performer starting out as a software support
        technician for Electronic Healthcare Records software, then moving into
        a supervisory role on the support team, and culminating in joining the
        new Workforce Management team successfully implementing a new WFM system
        for scheduling, monitoring, and reporting for the call center and back
        office teams.
      </p>
    </div>
  </section>
</main>
