<main id="about">
  <h1 class="lg-heading">About <span class="text-secondary">Me</span></h1>
  <h2 class="sm-heading">Let me tell you a few things...</h2>

  <section class="about-info">
    <img
      class="bio-image"
      src="https://curtg.netlify.app/images/headshotsdg.jpg"
      alt="Curt Grogan Bio Picture"
    />
    <div class="bio">
      <h3 class="text-secondary">BIO</h3>
      <p>
        I am a reborn software developer following my passion by returning to
        the field. After completing the immersive Full Stack Web Developer
        program at the prestigious Suncoast Developers Guild, I have joined the
        FDM Group as a Software Engineer Consultant. I love learning new skills
        & technologies and collaborating with colleagues to expand my
        understanding of the technology and people with whom I work.
      </p>
      <p>
        The quote that brought me back to the fold is by Howard Thurman,
        <span class="quote"
          >“Don’t ask what the world needs. Ask what makes you come alive, and
          go do it. Because what the world needs is people who have come
          alive.”</span
        >
      </p>
    </div>
    <experience-card
      *ngFor="let experience of experiences"
      [experience]="experience"
    ></experience-card>
  </section>
</main>
