<div class="project-card">
  <div class="a-thumb">
    <a
      class="a-thumb"
      href="{{ project.projectUrl }}"
      id="profile-link"
      target="_blank"
    >
      <img class="thumbNail" [src]="project.thumbUrl" [alt]="project.altText" />
    </a>
  </div>
  <a
    href="{{ project.projectUrl }}"
    id="profile-link"
    target="_blank"
    class="button-light"
    ><i class="fas fa-eye"> {{ project.description }}</i></a
  >
  <a
    href="{{ project.gitHubUrl }}"
    id="profile-link"
    target="_blank"
    class="button-dark"
    ><i class="fab fa-github"> GitHub</i></a
  >
</div>
