<div class="project-card">
  <div class="a-thumb">
    <a
      class="a-thumb"
      href="https://search-dogs.netlify.app"
      id="profile-link"
      target="_blank"
    >
      <img
        class="thumbNail"
        src="https://curt-g-fcc-portfolio.netlify.app/images/dog-search-project.png"
        alt="Photo of computer and phone with application on the screens."
      />
    </a>
  </div>
  <a
    href="https://search-dogs.netlify.app"
    id="profile-link"
    target="_blank"
    class="button-light"
    ><i class="fas fa-eye"> React App uses Youtube API</i></a
  >
  <a
    href="https://github.com/clgrogan/YoutubeDogVideoSearch"
    id="profile-link"
    target="_blank"
    class="button-dark"
    ><i class="fab fa-github"> GitHub</i></a
  >
</div>
