<main id="contact">
  <h1 class="lg-heading">
    Contact <span class="text-secondary">Curt Grogan</span>
  </h1>
  <h2 class="sm-heading">This is how you can connect with or contact me...</h2>

  <section class="boxes">
    <div class="email-box">
      <a
        class="text-secondary email-link"
        href="mailto:curtgrogan@outlook.com,gman00@ymail.com?cc=curt.grogan@fdmgroup.com&subject=Portfolio%20Response&body=I%20saw%20your%20portfolio,%20and..."
        >Email Me:</a
      >
      <a
        class="email-link"
        id="email-address"
        href="mailto:curtgrogan@outlook.com?cc=gman00@ymail.com&subject=Portfolio%20Response&body=I%20saw%20your%20portfolio,%20and..."
        >curtgrogan@outlook.com</a
      >
    </div>
    <div class="">
      <a href="tel:18233617222" class="text-secondary phone-link"> Phone:</a>
      <a href="tel:18233617222" class="phone-number">(813) 361-7222</a>
    </div>
    <div class="">
      <a
        class="text-secondary"
        href="https://linkedin.com/in/curtgrogan"
        target="_blank"
        ><i class="fab fa-linkedin fa-2x"></i
      ></a>
      <a
        class="linkedin-text"
        href="https://linkedin.com/in/curtgrogan"
        target="_blank"
        >Connect and message me on LinkedIn</a
      >
    </div>
    <div class="">
      <a
        class="text-secondary"
        href="https://github.com/clgrogan"
        target="_blank"
        ><i class="fab fa-github fa-2x"></i
      ></a>
      <a
        class="linkedin-text"
        href="https://github.com/clgrogan"
        target="_blank"
        >Connect on GitHub and check out some of my projects</a
      >
    </div>
  </section>
</main>
