:root {
  /* // variables */
  --primary-color: rgba(3, 3, 3, 0.806);
  --secondary-color: #ffd700;
  --light-text-color: #eee;
  --light-btn-border-color: #b3b3b3;
  --dark-text-color: #222;
  --image-container-height: 100px;
  --image-height: 16rem;
  --image-max-width: 24rem;
  --top-padding-adjustment: 60px;
}
* {
  box-sizing: border-box;
}
body {
  position: relative;
  height: 100%;
  margin: 0;
  min-height: 100%;
  background-color: var(--primary-color);
  background-image: url("assets/images/computer-dark-bg.jpg");
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--light-text-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

main {
  min-height: calc(100vh - 3.5rem);
  padding: 4rem;
  height: 100%;
  .social-media {
    margin: 1rem 0 0 0;

    a {
      padding: 0.4rem;
      color: var(--light-text-color);

      &:hover {
        color: var(--secondary-color);
      }
    }
  }
  &#home {
    overflow: hidden; //hides scroll bars
    h1 {
      margin-top: 20vh; // moves target down 20 of 100 slices horizontally (h)
    }
  }
}
.text-secondary {
  color: var(--secondary-color);
}
#projects {
  margin: 0 1.5rem 1.5rem 1rem;
}
.about-info {
  display: grid;
  grid-gap: 1.9rem;
  grid-template-areas: "bioimage bio bio";
  grid-template-columns: repeat(3, 1fr);
  .profile-image {
    width: 20vh;
    height: 20vh;
    border: solid 0.2rem var(--secondary-color);
    border-radius: 50%;
  }

  .bio-image {
    grid-area: bioimage;
    width: 30vh;
    height: 30vh;
    margin: auto;
    border: solid 0.2rem var(--secondary-color);
    border-radius: 50%;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
    .quote {
      font-family: trebuchet, sans-serif, Tahoma, Geneva, Verdana;
      font-style: italic;
    }
  }
  ul {
    list-style-type: none;
    padding-left: 0.8rem;
    color: var(--secondary-color);
    .items {
      color: var(--light-text-color);
      font-style: italic;
      font-size: smaller;
    }
  }
  .job {
    background: lighten(#333, 5);
    padding: 0.4rem;
    border-bottom: var(--secondary-color) 0.3rem solid;
    height: 100%;
  }
}
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

#header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: var(--primary-color);
  width: 100%;
  opacity: 80%;
}

#home {
  padding-top: 3rem;
}
#header-img {
  height: 40px;
  filter: grayscale(100%);
  opacity: var(--top-padding-adjustment);
}
#brand {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-text-color);
  border: solid var(--primary-color) 3px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar a {
  text-decoration: none;
  color: var(--light-text-color);
  padding: 0 1rem;
}
#welcome-section {
  padding-top: var(--top-padding-adjustment);
  margin-bottom: 1rem;
}
.lg-heading {
  font-size: 3rem;
}
.text-secondary {
  color: var(--secondary-color);
}
/* Projects */
#projects {
  padding-top: var(--top-padding-adjustment);
  margin-bottom: 1rem;
}
.projects {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  background-color: transparent;
  padding: 0.5rem;
}
.project-card {
  width: 100%;
}
.a-thumb {
  height: var(--image-height);
  background-image: url("https://curt-g-fcc-portfolio.netlify.app/images//VSCodeEditorOpacity.png");
  // object-fit: cover;
}
.projects img.thumbNail {
  height: var(--image-height);
  width: 100%;
  object-fit: contain;
  border: 0.2rem rgba(238, 238, 238, 0.8) solid;
}
.projects img.thumbNail:hover {
  opacity: 0.5;
  border-color: var(--secondary-color);
  transition: all 0.7s ease-out;
}
.projects .projImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--image-height);
  width: 100%;
  border: 0.2rem var(--light-btn-border-color) solid;
  position: relative;
  background: url(https://curt-g-fcc-portfolio.netlify.app/images/vscode-react-medium-screenshot.jpg);
  background-size: content;
}
.projects .projImageContainer:hover {
  opacity: 0.5;
  border-color: var(--secondary-color);
  transition: all 0.7s ease-out;
}
.projects .projImageContainer .projThumbnail {
  position: absolute;
  height: 96%;
  top: 2%;
  max-width: 90%;
  border-radius: 0.2rem;
  object-fit: scale-down;
}
.button,
.button-dark,
.button-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin: 0.5rem 0;
}
.button:hover,
.button-dark:hover,
.button-light:hover {
  background: var(--secondary-color);
  color: var(--dark-text-color);
}

.button-dark {
  background: var(--primary-color);
  color: var(--light-text-color);
}

.button-light {
  background: var(--light-btn-border-color);
  color: var(--dark-text-color);
}

@media screen and (min-width: 767px) {
  .lg-heading {
    font-size: 4rem;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}
